@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;

}

body{
    margin-left: 80px;
    margin-top: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}


header{
    width: 100%;
    height: 80px;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}

.navbar ul{
    list-style: none;
    background: #bd1e43;
    padding: 0;
    margin: 0;
    text-align: center;
}


.icon__menu{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(10px);
}

.icon__menu i{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.menu__side{
    width: 80px;
    height: 100%;
    background: #cf2323;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid #cf2323;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Ocultar scroll paa Chrome, safari y opera*/
.menu__side::-webkit-scrollbar{
    display: none;
}

.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.name__page{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;

}

.name__page i{
    width: 20px;
    margin-right: 20px;
}

.options__menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a{
    color: black;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options__menu a:hover{
    color: white;
}

.options__menu .option{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4{
    font-weight: 300px;
    cursor: pointer;
}

a.selected{
        color: #fff;
}

.selected:before{
    content: '';
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10%;
    left: -30px;
}

.body_move{
    margin-left: 250px;

}

.menu__side_move{
    width: 250px;
}

.mostrador{
    width: 250px;
}

@media screen and (max-width: 760px){
    .body_move{
        margin-left: 0px;
    }

    .menu__side_move{
        width: 80px;
        left: -80px;
    }

}

.container__cards{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 300px;
    margin: 10px;
    transition: all 300ms;
}

.card:hover{
    width: 350px;
}

.card .cover{
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.card .cover img{
    width: 200px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    transition: all 400ms;
}

.card:hover .cover img{
    top: 0px;
}

.card .img__back{
    width: 100%;
    height: 200px;
    bottom: -80px;
    left: 0;
    position: absolute;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.card:nth-of-type(1) .img__back{
    background-image: url(../images/bg1.jpg);
}

.card:nth-of-type(2) .img__back{
    background-image: url(../images/bg2.jpg);
}

.card:nth-of-type(3) .img__back{
    background-image: url(../images/bg3.jpg);
}

.card:nth-of-type(4) .img__back{
    background-image: url(../images/bg1.jpg);
}


.card:hover .img__back{
    bottom: -40px;
}

.card .description{
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card:hover .description{
    padding: 40px;
}

.card .description h2{
    margin-top: 10px;
}

.card .description p{
    margin-top: 10px;
}

.card .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #A6359D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input:hover{
    background: #83277b;
}

.contenido{
    max-width: 1110px;
    width: 100%;
    margin: 40px;
    display: flex;
}

.mostrador{
    width: 100%;
    transition: .05s aese;
}

.mostrador .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.mostrador .fila .item{
    max-width: 210px;
    padding: 30px;
    height: 250px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}

.mostrador .fila .item:hover{
    background-color: #e6e6e6;
}

.mostrador .fila .item img{
    width: 100%;
    margin: 30px 0;
}

.mostrador .fila .item .description{
    color: #707070;
    font-weight: bold;
}

.mostrador .fila .item .precio{
    color: #f85151;
    font-weight: bold;
    font-size: 20px;
}

.seleccion{
    transition: .5s ease;
    opacity: 0;
    width: 0%;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.cerrar{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.info{
    padding: 20px;
}

.info img{
    display: block;
    margin: 30px;
    width: 35%;
}

.info h2{
    color: #707070;
    margin-bottom: 10px;
}

.info p{
    font-size: 14px;
    color: #707070;
    margin-bottom: 10px;
}

.info .fila{
    display: grid;
    align-items: flex-end;
    font-size: 14px;
}

.info .fila .label{
    display: block;
    margin-bottom: 10px;
}

.info .fila .cantidad{
    margin-left: 3px;
    width: 60px;
    font-size: 12px;
    padding: 0px;
    text-align: center;
}

.info .fila select{
    margin-left: 3px;
    width: 60px;
    font-size: 12px;
    padding: 0px;
    text-align: center;
}

/*SELECTOR b*/
.info .fila2{
    display: flex;
    align-items: flex-end;
}

.info .fila2 label{
    margin-left: 3px;
    font-size: 12px;
    padding: 2.5px;
    text-align: center;
}

.info .fila2 input{
    margin-left: 3px;
    width: 60px;
    font-size: 12px;
    padding: 0px;
    text-align: center;
}
/*--------------------------*/

/*SELECTOR h*/
.info .fila3{
    display: flex;
    align-items: flex-end;
}

.info .fila3 label{
    margin-left: 3px;
    font-size: 12px;
    padding: 2.5px;
    text-align: center;
}

.info .fila3 input{
    margin-left: 3px;
    width: 60px;
    font-size: 12px;
    padding: 0px;
    text-align: center;
}
/*--------------------------*/

/*SELECTOR DE ESTANDAR g*/
.info .fila4{
margin-top: 1px;
}

.info .fila4 label{
    margin-left: 3px;
    font-size: 12px;
    padding: 2.5px;
    text-align: center;
}

.info .fila4 .editableBox{
    width: 100px;
    height: 25px;
}

.info .fila4 .g{
    width: 70px;
    margin-left: -105px;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
/*--------------------------*/

/*BOTON AGREGAR*/
.info .fila5{
    display: grid;
    align-items: flex-end;
}

.info .fila5 button{
    height: 35px;
    border: none;
    padding: 10px;
    color: #fff;
    background-color: #f85151;
    cursor: pointer;
}

.info .fila5 button:hover{
    background-color: #cf2323;
    transition: .5s ease;
}
/*--------------------------*/

/*SELECTOR DE ESTANDAR g*/
.info .fila6{
    display: grid;
    align-items: flex-end;
}

.info .fila6 .total{
    width: 100%;
    text-align: center;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
/*--------------------------*/